<div class="row small-up-2 medium-up-3 large-up-5 grid_position">
  <% @products.each do |f| %>
    <div class="column column-block">
       <%= link_to(product_path(f.id)) do %>
         <%= image_tag("//placehold.it/150x150") %>
       <% end %>
       <br><%= link_to("#{f.title}", product_path(f.id)) %>
     </div>
   <% end %>
</div>
