<div class="row column black_footer_bar"></div>
<div class="column row brushed_aluminum_box"></div>
<div class="row" id="footer">
<!-- far left footer box -->
  <div class="columns small-4">
    <div id="map-canvas"></div>
    <div class="address">
        <p>Redline Motorcycles, LLC<br>
            1831 Route 206<br>
            Southampton, NJ 08088<br>
            <a href="tel:6092079572">(609) 207-9572</a><br>
            <a href="mailto:redlinemotorcycles@yahoo.com">RedlineMotorcycles@yahoo.com</a><br>
        </p>
    </div>
  </div>
<!-- center footer box -->
  <div class="columns small-4">
    <div id="social">
      <h4>Visit us on Social Media:</h4>
      <a href="http://www.facebook.com/redlinemotorcyclesnj">
          <span class="fa fa-facebook-square"></span>
      </a>
      <a href="https://plus.google.com/+RedlineMotorcyclesPemberton">
          <span class="fa fa-google-plus-square"></span>
      </a>
      <a href="https://twitter.com/RedlineMotorsNJ">
          <span class="fa fa-twitter-square"></span>
      </a>
    </div>
  </div>
<!-- right footer box -->
  <div class="columns small-4 text-right">
      <div id="right_footer_nav">
        <h4>Quick Nav</h4>
        <ul>
            <li>
                <a href="about.html">Service</a>
            </li>
            <% category.each do |category| %>
            <li>
              <%= link_to(category.category_name, category_path(category.id)) %>
            </li>
            <% end %>
        </ul>
      </div>
  </div>
</div>
