<div class="row" id="footer">
<!-- far left footer box -->
  <div class="columns small-4">
    <div id="map-canvas"></div>
    <div class="address">
        <p>Redline Motorcycles, LLC<br>
            1831 Route 206<br>
            Southampton, NJ 08088<br>
            <a href="tel:6092079572">(609) 207-9572</a><br>
            <a href="mailto:redlinemotorcycles@yahoo.com">RedlineMotorcycles@yahoo.com</a><br>
        </p>
    </div>
  </div>
<!-- center footer box -->
  <div class="columns small-4">
    <div id="social">
      <h2>Visit us on Social Media:</h2>
      <a href="http://www.facebook.com/redlinemotorcyclesnj">
          <span class="fa fa-facebook-square"></span>
      </a>
      <a href="https://plus.google.com/+RedlineMotorcyclesPemberton">
          <span class="fa fa-google-plus-square"></span>
      </a>
      <a href="https://twitter.com/RedlineMotorsNJ">
          <span class="fa fa-twitter-square"></span>
      </a>
    </div>
  </div>
<!-- right footer box -->
  <div class="columns small-4">
      <div>
          <ul>
              <li>
                  <a href="about.html">about us</a>
              </li>
              <li>
                  <a href="repair.html">fix stuff</a>
              </li>
              <li>
                  <a href="kymco.html">kymco</a>
              </li>
              <li>
                  <a href="index.html">home</a>
              </li>
          </ul>
      </div>
  </div>
</div>
